@media(max-width:768px){
    #clockContainer{
        height: 500px;
        width: 500px;
    }
}
@media(min-width:769px) and (max-width:1200px){
    #clockContainer{
        height: 500px;
        width: 500px;
    }
}